<body>
  <div class="responsive-body ">

    <div class="search">
      <div>
        <div class="s-input">
          <i>
            <mat-icon>search</mat-icon>
          </i>
          <input class="input" type="text" [(ngModel)]="boulot_nom" name="nom" mat-icon="search" (keyup)="chercher()"
            #nom="ngModel">
        </div>
        <mat-form-field>
          <mat-label>Categories</mat-label>
          <mat-select multiple [(ngModel)]="selected_categories" (selectionChange)="chercher()">
            <mat-option *ngFor="let category of categories" [value]="category._id">{{category.categorie}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="main">

      <div class="flex-cont ">
        <div class="card-single" *ngFor="let boulot of boulots">
          <div>
            <div class="p-justify-between ">
              <h2 style="text-align: left;">{{boulot.titre}}</h2>

              <div class="p-justify-right column">
                <div class="right">

                  <div *ngIf="boulot.recruteur.societe=='', else pro">
                    <div *ngIf="boulot.recruteur.photo==null, else pdp">
                      <img src="/assets/user.png" style="height: 40px; width: 40px;">
                    </div>
                    <ng-template #pdp>
                      <img src="http://localhost:3000/{{boulot.recruteur.photo}}" style="height: 40px; width: 40px;">
                    </ng-template>
                  </div>


                  <ng-template #pro>
                    <div *ngIf="boulot.recruteur.logo_societe==null, else logo">
                      <img src="/assets/user.png" style="height: 40px; width: 40px;">
                    </div>
                    <ng-template #logo>
                      <img src="http://localhost:3000/{{boulot.recruteur.logo_societe}}"
                        style="height: 40px; width: 40px;">
                    </ng-template>
                  </ng-template>

                </div>
                <div class="p-justify-right">
                  <div *ngIf="boulot.recruteur.societe=='', else ste">
                    <h3 style="text-transform: uppercase;">{{boulot.recruteur.nom }} {{boulot.recruteur.prenom}}</h3>
                  </div>

                  <ng-template #ste>
                    <h3 style="text-transform: uppercase;">{{boulot.recruteur.societe }}</h3>
                  </ng-template>

                </div>
              </div>
            </div>
            <div>
              <span class="overflow" [innerHTML]="(boulot.description | slice:0:150)+'...'">
              </span>
            </div>
          </div>
          <div class="p-justify-between ">
            <div class="details">
              <p><strong>Prix: </strong>
                <span>{{boulot.prix}} DT</span>
              </p>
              <p><strong>Posté: </strong>
                <span>{{boulot.date_debut | date: 'HH:mm dd-MM-yyyy '}} </span>
              </p>
              <p><strong>date limite: </strong>
                <span>{{boulot.date_fin | date: 'HH:mm dd-MM-yyyy '}} </span>
              </p>
            </div>
            <button mat-button routerLink='/etudiant/boulot/{{boulot._id}}'>
              Détails
            </button>
          </div>

        </div>
      </div>

    </div>


  </div>
</body>
