<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="container">
  <span class="mytext1">Bienvenue dans </span>
  <span class="mytext2"> Bolotic </span>
  <form>
    <button>Cliquer ici pour voir les listes des travaux</button>
  </form>
</div>
</body>