<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<h1 class="title">
    Connexion
</h1>
<form>
  <mat-tab-group>
    <mat-tab label="Connexion Etudiant"> <app-login-etudiant></app-login-etudiant></mat-tab>
    <mat-tab label="Connexion Recruteur"> <app-login-recruteur></app-login-recruteur> </mat-tab>
    
  </mat-tab-group>
</form>

