<form>
  <div class="form-group">
    <label for="LabelTitre">Titre</label>
    <input type="text" class="form-control" id="Titre" #Titre [(ngModel)]="ajoutboulot.titre"  name="titre" required>
  </div>
  <div class="form-group">
    <label for="LabelDesc">Description du boulot</label>
    <input type="text" class="form-control" id="Description" placeholder="Description du boulot" [(ngModel)]="ajoutboulot.description" name="description"  required >
  </div>

  <div class="form-group">
    <label for="LabelDateFin">Date Fin du boulot</label>
    <input type="date" class="form-control" id="DateFin" [(ngModel)]="ajoutboulot.datefin" name="datefin" required>
  </div>

  <button type="submit" (click)="AddBoulot()">Se connecter</button>
</form>