<form>
  <div class="form-group">
    <label for="LabelTitre">Titre</label>
    <input type="text" class="form-control" name="Titre" [(ngModel)]="ajoutboulot.titre"  #Titre="ngModel" required>
  </div>
  <div class="form-group">
    <label for="LabelDesc">Description du boulot</label>
    <input type="text" class="form-control" name="Description" placeholder="Description du boulot" [(ngModel)]="ajoutboulot.description" #Description="ngModel" required >
  </div>

  <div class="form-group">
    <label for="LabelDateFin">Date Fin du boulot</label>
    <input type="date" class="form-control" name="DateFin"  [(ngModel)]="ajoutboulot.datefin" #DateFin="ngModel" required>
  </div>

  <button type="submit" (click)="AddBoulot()">Ajout boulot</button>
</form>