

<body>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<h1 class="title">
  Signaler
</h1>
<form>

  
    
      <label>
        <p class="label-txt">Description</p>
        <input type="text" class="input" name="description" #description="ngModel"  [(ngModel)]="test.description"   required>
        <button mat-button (click)="Signaler()">
            Signaler
          </button>
      </label>
   

</form>
</body>