<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<h1 class="title">
    Inscription Recruteur
</h1>
<form>
  <div style="display: flex; justify-content:space-between;">
    <div style="width: 49%;">
      <label>
        <p class="label-txt">Saisie votre nom</p>
        <input type="text" class="input" [(ngModel)]="recruteur.nom" name="nom" #nom="ngModel" required>
        <div class="line-box" [ngClass]="{'invalid': nom.dirty && nom.invalid}">
          <div class="line"></div>
        </div>
      </label>
    </div>
    <div style="width: 49%;">
      <label>
        <p class="label-txt">Saisie votre prenom</p>
        <input type="text" class="input" [(ngModel)]="recruteur.prenom" name="prenom" #prenom="ngModel" required>
        <div class="line-box" [ngClass]="{'invalid': prenom.dirty && prenom.invalid}">
          <div class="line"></div>
        </div>
      </label>
    </div>
  </div>
  <label>
    <p class="label-txt">Saisie votre email</p>
    <input type="text" class="input" [(ngModel)]="recruteur.email" name="email" #email="ngModel" required>
    <div class="line-box" [ngClass]="{'invalid': email.dirty && email.invalid}">
      <div class="line"></div>
    </div>
  </label>
  
    <mat-slide-toggle [(ngModel)]="pro" name="pro" class="photo-txt">Professional</mat-slide-toggle>
  
  <label *ngIf="pro == false, else professional">
    
    <div class="button-wrapper">
      <span class="label">
        Telecharger photo
      </span>
      <input type="file" name="upload" id="upload" accept=".jpg,.png,.jpeg" class="upload-box"
        placeholder="Telecharger photo" (change)="handleFileInput($event)">
    </div>
    <div style="display: flex; justify-content:space-around">
      <img id="photo" [src]="recruteur.photo" style="border-radius: 15px; margin: 8px;display: none;" height="100px">
    </div>

  </label>
  <ng-template #professional>
    <label>
      <div class="button-wrapper">
        <span class="label">
          Telecharger logo societe
        </span>
        <input type="file" name="upload" id="upload" accept=".jpg,.png,.jpeg" class="upload-box"
          placeholder="Telecharger logo" (change)="handleLogoInput($event)">
      </div>
      <div style="display: flex; justify-content:space-around">
        <img id="logo" [src]="recruteur.logo_societe" style="border-radius: 15px; margin: 8px;display: none;"
          height="100px">
      </div>

    </label>
    <label>
      <p class="label-txt">Saisie votre societe</p>
      <input type="text" class="input" [(ngModel)]="recruteur.societe" name="societe" #societe="ngModel" required>
      <div class="line-box" [ngClass]="{'invalid': societe.dirty && societe.invalid}">
        <div class="line"></div>
      </div>
    </label>
  </ng-template >
  <label>
    <p class="label-txt">Saisie votre numéro</p>
    <input type="number" class="input" [(ngModel)]="recruteur.num_tel" name="num_tel" #num_tel="ngModel"
      pattern="[0-9]{8}$" required>
    <div class="line-box" [ngClass]="{'invalid': num_tel.dirty && num_tel.invalid}">
      <div class="line"></div>
    </div>
  </label>

  <label>
    <p class="label-txt">Saisie votre mot de passe</p>
    <input type="password" class="input" [(ngModel)]="recruteur.mot_de_passe" name="mot_de_passe"
      #mot_de_passe="ngModel" minlength="6" required>
    <div class="line-box" [ngClass]="{'invalid': mot_de_passe.dirty && mot_de_passe.invalid}">
      <div class="line"></div>
    </div>
  </label>

  <label>
    <p class="label-txt">Confirmer votre mot de passe</p>
    <input type="password" class="input" [(ngModel)]="recruteur.mot_de_passe_confirmation"
      name="mot_de_passe_confirmation" #mot_de_passe_confirmation="ngModel" pattern="{{recruteur.mot_de_passe}}"
      required>
    <div class="line-box" [ngClass]="{'invalid': mot_de_passe.dirty && mot_de_passe_confirmation.invalid}">
      <div class="line"></div>
    </div>
  </label>
  <button type="submit" (click)="signUp()" #submit [disabled]="nom.invalid || prenom.invalid || email.invalid  || num_tel.invalid || mot_de_passe.invalid
            || mot_de_passe_confirmation.invalid" [ngClass]="{'disabled': submit.disabled}">S'inscrire</button>
</form>
