body {
    background: #C5E1A5;
  }
  
  .title {
    color: rgb(121, 152, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5vh 10vw;
    font-weight: bold;
  }
  
  form {
    width: 60vw;
    margin: 5vh auto;
    background: #efefef;
    padding: 60px 100px 80px 100px;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.185);
  }
  
  label {
    display: block;
    position: relative;
    margin: 20px 0px;
  }
  
  .label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120, 120, 120);
    transition: ease .3s;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
  }
  
  .invalid {
    background: red;
  }
  
  .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #8BC34A;
    transition: ease .6s;
  }
  
  .input:focus+.line-box .line {
    width: 100%;
  }
  
  .label-active {
    top: -3em;
  }
  
  button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220, 220, 220);
    font-weight: bold;
    color: rgb(120, 120, 120);
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: ease .3s;
  }
  
  button:hover {
    background: #0057ad;
    color: #ffffff;
  }
  
  button:disabled {
    background: #c9c8c8;
    color: #ffffff;
    cursor: default;
  }
  
  /*
  Code snippet by maridlcrmn for Bootsnipp.com
  Follow me on Twitter @maridlcrmn
  */
  
  .navbar-brand {
    position: relative;
    z-index: 2;
  }
  
  .navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
  }
  
  .navbar .navbar-collapse {
    position: relative;
  }
  
  .navbar .navbar-collapse .navbar-right>li:last-child {
    padding-left: 22px;
  }
  
  .navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
  }
  
  .navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
  }
  
  .navbar.navbar-inverse .nav-collapse {
    background-color: #222;
  }
  
  .navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
  }
  
  .nav-collapse>li {
    float: right;
  }
  
  .btn.btn-circle {
    border-radius: 50px;
  }
  
  .btn.btn-outline {
    background-color: transparent;
  }
  
  @media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right>li:last-child {
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .navbar .nav-collapse {
      margin: 7.5px auto;
      padding: 0;
    }
  
    .navbar .nav-collapse .navbar-form {
      margin: 0;
    }
  
    .nav-collapse>li {
      float: none;
    }
  }
  
  
  /* File upload styling*/
  .photo-txt {
  
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120, 120, 120);
    transition: ease .3s;
  }
  
  .button-wrapper {
    position: relative;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
  }
  
  .button-wrapper span.label {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    border-radius: 25px;
    background: #0099ff;
    cursor: pointer;
    color: #fff;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }
  
  #upload {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    padding: 0px;
  }
  
  .upload-box {
    cursor: pointer;
    padding: 0px;
  }
