body {
  background: #ffffff;
  padding: 0px;
  padding-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.boulot_container {
  width: 56vw;
  margin: 2vw;
  margin-top: 50px;
  background: #f3f9fd;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.185);
}

.recruteur_container {
  width: 36vw;
  margin: 2vw;
  margin-top: 50px;
  background: #e6e9eb;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.185);

}

.mat-chip {
  background-color: rgb(221, 220, 220);
  color: rgb(0, 140, 255);
}

.mat-button {
  margin: 0px 5px;
  border-radius: 40px !important;
  color: #0066ff;
}

.mat-button:hover {
  background-color: rgba(0, 89, 255, 0.034);
  color: #0066ff;
}

strong {
  margin-right: 5px;
}

.p-justify-between {
  display: flex;
  justify-content: space-between;
}


.user-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.user-wrapper img {
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.185);
}

.user-wrapper h2 {
  padding-top: 10px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0px;
}
