<body>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <h1 class="title">
    Boulot
  </h1>
  <form>

    <div style="display: flex; justify-content:space-between;">
      <div style="width: 49%;">
        <label>
          <p class="label-txt">Titre</p>
          <input type="text" class="input" value="{{boulot.titre}}" name="titre" required>
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
      </div>
      <div style="width: 49%;">
        <label>
          <p class="label-txt">Description</p>
          <input type="text" class="input" value="{{boulot.description}}" name="description" required>
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
      </div>
    </div>
  </form>
</body>
