<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap User Management Data Table</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });

  </script>
</head>

<body>
  <div class="site-section">
    <div class="container">
      <div class="table-responsive">
        <div>
          <div class="#">
            <div class="table-wrapper">
              <button mat-button routerLink='/recruteur/boulot/ajout' class="modify" aria-label="Add">
                <mat-icon>add</mat-icon> Ajout boulot
              </button>
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Image Recruteur</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Salaire</th>
                    <th>Date Début</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let boulot of boulots">
                    <td><img src="http://localhost:3000/{{boulot.recruteur.logo_societe}}" class="avatar" alt="Avatar"
                        style="height: 50px;width: 50px; object-fit:cover; object-position:center;"></td>
                    <td>{{boulot.titre}}</td>
                    <td [innerHTML]="(boulot.description | slice:0:60)+'...'"></td>
                    <td><span class="status text-success">&bull;</span> {{boulot.prix}}</td>
                    <td>{{boulot.date_debut | date}}</td>

                    <td>
                      <button routerLink='/recruteur/demandes/{{boulot._id}}' mat-icon-button  aria-label="demandes">
                        <mat-icon>filter_list</mat-icon>
                      </button>
                      <button routerLink='/recruteur/boulot/modifier/{{boulot._id}}' mat-icon-button class="modify"
                        aria-label="modify">
                        <mat-icon>&#xE8B8;</mat-icon>
                      </button>

                      <button (click)="deleteBoulot(boulot._id)" mat-icon-button class="delete" aria-label="delete">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
